@import "base/variables";
@import "base/components";
@import "base/mixins";
@import "base/fonts";
@import "base/reset";
@import "base/extensions";

<<<<<<< HEAD
<<<<<<< HEAD
.container-menu {
    padding: 0 170px;
    margin: 0 auto;
}

.menu {
    max-width: 100%;
    height: 60px;
    background-color: #263238;
    
    
    &__item {
        color: #ffffff;
        font-family: 'robotoregular', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 55px;
        margin-right: 35px;
        
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

        

            
// Poster Start

.poster {

    &__bg {
    position: relative;
    width: 100vw;
    height: 530px;
    background-image: url(../img/bg_poster.jpg);
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
    }

    &__mask {
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.38) 0%,rgba(0, 0, 0, 0.74) 50%);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 530px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    }

    &__content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
       
    }
        &__title {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 46px;
        font-weight: 700;
        }

        &__description {
        color: #ffffff;
        font-family: 'robotoregular', sans-serif;
        font-size: 20px;
        font-weight: 500;
        padding: 15px 0 40px;
        }

        &__form {
            position: relative;
            width: 670px;
            box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
            background-color: #ffffff;
            border-radius: 3px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            input {
            font-family: 'Roboto', sans-serif;
            color: #90a4ae;
            letter-spacing: 0.7px;
            padding: 22px 0 22px 25px;
            flex-grow: 1;
            border-radius: 5px;
            }

            input::placeholder {
                color: #90a4ae; 
            }

            button {
                position: absolute; 
                top: 0;
                right: 0px;
                width: 57px;
                height: 68px;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
              }
            
            button:before {
                content: "\f002";
                font-family: FontAwesome;
                font-size: 16px;
                color: #8da2ac;
            }
             
        }
}

=======
/* trending products */
.trending-products{
    padding: 125px 0;

    &__container-fluid {
        padding: 0 15px;
    }

    &__title-blue {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: #263238;
        margin-bottom: 30px;
    }

    &__product-container {
        font-size: 0px;
    }

    &__product-card {
        border: 1px solid lightgray;
        width: 100%;
        position: relative;
    
    }

    &__shell {
        width: calc(100%/4);
        display: inline-block;
        padding: 0px 15px;
    }

    &__triangle {
        width: 0;
        height: 0;
        border-top: 40px solid #8bc34a; 
        border-right: 40px solid transparent;
        position: absolute;
    }

    &__light{
        font-size: 15px;
        color: #ffffff;
        position: absolute;
        padding-left: 10px;
    }

    &__product-card-body {
        font-size: 15px;
        font-weight: bold;
        color: #263238;
        background-color: #fff;
    }

    &__product-card-head {
        height: 60%;
    }

    &__product-card-body {
        height: 40%;
    }

    &__release-img {
        size: 100%;;
    }

    &__sale {
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__product-description {
        font-size: 12px;
        color: #8bc34a
    }

    &__points {
        border-top: 1px solid lightgray;
        font-size: 12px;
        display: flex;
        padding: 10px 15px;
    }

    &__icon-stars {
        color: #ffa726;
    }

    &__circle {
        display: inline-block;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: lightgray;
        margin-right: 5px;
        text-align: center;
        font-size: 11px;
    }

    &__stars {
        float: right;
    }

    &__author {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
}

.slick-dots {
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}

.slick-dots li {
	display: inline-block;
	vertical-align: center;
	position: relative;
	width: 14px;
	height: 14px;
}

.slick-dots li button {
	width: 7px;
	height: 7px;
	color: transparent;
	font-size: 0;
	background-color: #ccc;
	border-radius: 50%;
	border: 1px solid #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slick-dots li button::after {
	content: '';
	width: 9px;
	height: 9px;
	background-color: #8bc34a;
	border-radius: 50%;
	border: 1px solid #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	box-sizing: border-box;
}

.slick-dots li.slick-active button::after {
    opacity: 1;
}
/* tranding products end */
>>>>>>> 8c49d129c34ea2a49bde65410061fc9eb1fec8f3
=======

/* why you choose */


.why-you-choose {
    background-color: #263238;
    padding: 125px 0;
    
    &__container {
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 80px;
    }

    &__card {
        width: calc(100%/3);
        display: inline-block;
        text-align: center;
    }

    &__card-container {
        font-size: 0px;
    }

    &__round-img {
        border-radius: 50%; 
        border: 3px solid lightgray;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 32px;
        z-index: 1000000;
    }

    &__card-text {
        font-size: 21px;
        color: #ffffff;
        padding-bottom: 32px;
    }

    &__card-description {
        font-size: 12px;
        color: #a7b5bc;
        display: block;
        text-align: center;
        padding: 0 50px;
    }

    &__cirkle {
        border-radius: 50%;
    }

    &__card-text:hover {
        color: #8bc34a;
        cursor: pointer;
    }
}
>>>>>>> 38cb31b6cc0f50c8cdc94d4060c58593aa50fab8
