$opensans:'Opensans', Helvetica, Arial, sans-serif;
$raleway: 'Raleway', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', Helvetica, Arial, sans-serif;
$lato: 'Lato', Helvetica, Arial, sans-serif;

$lightgreen: rgb(139, 195, 74);
$red: rgb(231, 76, 60);
$dark-green: rgb(38, 50, 56);
$lightgray: rgb(244, 246, 245);
$gray: rgb(176, 190, 197);