
.breadcrumb {
    background-color: #f4f6f5;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #263238;
    padding: 40px 10px 20px 0;
}

.breadcrumb-item.active {
    color: #78909c;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #6c757d;
    content: "-";
}