
/* ========== Header start ========== */

.header {
    background-color: #ffffff;
    &__bg {
        display: flex;
        padding: 30px 0;
        justify-content: space-between;
       max-width: 1100px;
       margin: auto;
    }
   
    &__button-login {
        border: none;
        border-radius: 3px;
        width: 72px;
        height: 32px;
        color: white;
        background-color: $lightgreen;
        }

        &__register-button {
        border: none;
        border-radius: 3px;
        width: 72px;
        height: 32px;
        color: white;
        background-color: $red;
        }

    &__elements {
        display: flex;
        }

        &__icons {
            display: flex;
                &>div {
                    margin-left: 18px;
                        &:last-child {
                         margin-right: 10px;
                }
            
            }
        
        }

    &__info{
        margin-right: 13px;
        vertical-align: middle
        }

    &__button-group {
        display: flex;
        height: 50px;
        &>div {
            margin-left: 10px;
        }
    }

    .info {
    
        &__talk {
        color: $gray;
        }
    
        &__help {
        color: $red;
        }
    
    }

    .button {
        background-color: #f5f5f5;
        border-radius: 50%;
        position: relative;
        width: 40px;
        height: 40px;
        color: #a0a0a0;
        padding: 0px;

    }

    .bell__counter-bell {
        position: absolute;
        top: -6px;
        right: -5px;
        font-size: 11px;
        background-color: #fcb322;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 14px;
        color: #fff;
    }

    .mail__counter-mail {
        position: absolute;
        top: -6px;
        right: -5px;
        font-size: 11px;
        background-color: #ef6c00;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 14px;
        color: #fff;
    }


    .basket__counter-basket {
        position: absolute;
        top: -6px;
        right: -5px;
        font-size: 11px;
        background-color: #95c85a;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 14px;
        color: #fff;
    }


    /* ========== Header end ========== */


    /* ========== Modal start ========== */


    .modal {
        .close {
            position: absolute;
            top: 16px;
            right: 16px;
            color: #ffffff;
            opacity: 1;
        }
        
        h5 {
            color: #ffffff;
            font-size: 48px;
            font-weight: 700;
            line-height: 36px;
            text-transform: uppercase;
            
        }

        input {
            padding-left: 10px;
            background-color: #76ae36;
            margin-top: 10px;
            width: 345px;
        }

    }

    .modal-header {
        display: block;
        text-align: -webkit-center;
        border-bottom: #8bc34a;
    }

    .modal-dialog {
        max-width: 730px;
        margin: 1.75rem auto;
    }


    .modal-content {
        background-color: #8bc34a;
        padding-bottom: 81px;
        position: relative;
        padding-top: 70px;
    }

    .modal-body {
        text-align: -webkit-center;
    }

    .modal-name {
        background-color: #76ae36;
        max-width: 400px;
        height: 43px;
        margin-bottom: 8px;
        
    }

    .modal-password {
        background-color: #76ae36;
        max-width: 400px;
        height: 43px;
    }

    .button-account {
        width: 250px;
        height: 50px;
        background-color: #76ae36;
        position: relative;
        left: 75px;
        top: 18px;
        color: #ffffff;
        padding-right: 34px;
    }

    .lost-pass {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        float: left;
        padding: 33px 0 0 146px;
    }

    .btn-submit {
        width: 139px;
        height: 48px;
        position: absolute;
        top: 129px;
        left: 164px;
        background-color: #ffffff;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        box-shadow: 0 2px 2px rgba(118, 174, 54, 0.75);
    }

    .modal-pencil {
        float: left;
        margin: 3px 0 0 30px;
    }

    ::placeholder {
        color: #ffffff;
    }


    /* ========== Modal end ========== */


    /* ========== Drop down start ========== */



    .dropdown-item {
        color: #546e7a;
        font-size: 12px;
        font-weight: 400;
        line-height: 36px;
        margin-left: 0px;
        padding: 0rem 1.5rem;
        font-size: 13px;
    }

    .header__button-card {
        border: none;
        width: 105px;
        height: 35px;
        color: white;
        background-color: $lightgreen;
        font-size: 14px;
        font-weight: 700;
    }

    .header__button-checkout {
        border: none;
        width: 123px;
        height: 35px;
        color: white;
        background-color: $red;
        font-size: 14px;
        font-weight: 700;
    }

    .header__button-group>.dropdown>.dropdown-menu {
        width: 158px;
        height: 317px;
        box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
        border: 1px solid #cccccc;
        background-color: #ffffff;
        vertical-align: middle;
        margin: 31px 0px 0px -38px;
    }

    .header__icons>.header__basket>.dropdown>.dropdown-menu {
        width: 268px;
        height: 299px;
        box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
        border: 1px solid #cccccc;
        background-color: #ffffff;
        vertical-align: middle;
        
    }

    .header__icons>.header__mail>.dropdown>.dropdown-menu {
        width: 268px;
        height: 280px;
        box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
        border: 1px solid #cccccc;
        background-color: #ffffff;
        vertical-align: middle;
        padding: 0rem 0;
    }

    .header__icons>.header__bell>.dropdown>.dropdown-menu {
        width: 268px;
        height: 280px;
        box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
        border: 1px solid #cccccc;
        background-color: #ffffff;
        vertical-align: middle;
        padding: 0rem 0;
    }

    .square {
        width: 73px;
        height: 57px;
        background-color: #d4d4d4;
        margin: 12px 23px 1px 23px;
    }

    .card-section {
        display: flex;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 10px;
        padding-bottom: 15px;
    }

    .total {
        padding-right: 83px;
    }

    .dropdown {
        display: flex;
    }

    .card-text {
        padding: 8px 0 0 0px;
    }

    .card-text-total {
        display: flex;
        justify-content: space-around;
        padding: 5px 0px 17px 0px;
        font-size: 16px;
        font-weight: 700;
    }

    .dropdown-button {
        display: flex;
        justify-content: space-around;
        padding-left: 11px;
        padding-right: 11px;
    }

    .user-name {
        background-color: #fff;
    }

    .money-user {
        display: flex;
        color: #8bc34a;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
    }

    .fa-angle-down {
        margin-left: 11px;
        color: #707070;
    }

    .modal__form>div>i {
        color: #fff;
    }

    .dropdown.show>.bell__bell-button {
        color: #000000;
    }

    .dropdown.show>.mail__mail-button {
        color: #000000;
    }

    .dropdown.show>.basket__basket-button {
        color: #000000;
    }


    .dropdown-item>.fas {
        margin-right: 8px;
        color: $lightgreen;
        font-size: 14px;
    }

    .product {
        color: #263238;
        font-size: 15px;
        font-weight: 500;
    }

    .description {
        color: #84b743;
        font-size: 12px;
        font-weight: 400;

    }

    .price {
        color: #000000;
        font-size: 16px;
        font-weight: 500;

    }

    .icon-card-message:hover {
        color:#ef6c00;
    }

    .icon-card-message {
        color: #b0bec5;
        font-size: 16px;
        font-weight: 400;
        margin: 20px 0px 0px 0px;
    }

    .help-message {
        color: #84b743;
        font-size: 11px;
        font-weight: 400;
    }

    .nick-name {
        color: #263238;
        font-size: 12px;
        font-weight: 700;
    }

    .date {
        color: #707070;
        font-size: 10px;
        font-weight: 400;
    }

    .user-info {
        width: 105px;
        height: 92px;
        margin: 20px 0px 0px 0px;
    }

    .avatar-message {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #d4d4d4;
        margin: 20px 0px 0px 0px;
    }

    .dropdown-block {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid #e0e0e0;
        height: calc(100% / 3);
    }


    .help-message-bell {
        color: #84b743;
        font-size: 12px;
        font-weight: 400;
    }

    .date-bell {
        color: #707070;
        font-size: 10px;
    }



    /* ========== Drop down end ========== */


    /* desctop */
    @media (min-width: 975px) {
        .dropdown-menu {
            margin-top: 40px;
        }
    }
    
    /* tablet */
    @media (min-width: 576px) and (max-width: 975px) {
        .dropdown-menu {
            margin-top: 40px;
        }
    }

    /* phone */
    @media (max-width: 576px) {

        .header__elements {
            flex-direction: column;
        }

        .header__bg {
            flex-direction: column;
        }

        .header__info {
            order: 1;
        }
        .modal-dialog {
            max-width: 419px;
        }

        .btn-submit {
            left: 14px;
        }

        .dropdown-menu {
            margin-top: 113px;
        }

        .header__logo {
            margin-bottom: 10px;
        }

        .header__button-group>.dropdown>.dropdown-menu {
            margin-top: 54px;
        }
        
        .header__icons {
            margin-bottom: 10px;
        }
    }

}  