@import "../base/variables";
@import "../base/mixins";

.menu {
    max-width: 100%;
    height: 60px;
    background-color: #263238;
    position: relative;
    z-index: 2;

    &__slick {
    list-style: none;
	margin: 0;
	padding-left: 0;
    }

    &__item {
    display: inline-block;
    margin-right: 35px;

        &:last-child {
        margin-right: 0;
        }

    }
    
    &__link {
        color: #ffffff;
        font-family: 'robotoregular', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 55px;
        
        &:hover {
            color: #ffffff;
            text-decoration: underline;
        }
    }

    &__link:last-child {
        margin-right: 0;
    }

    &__item:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

.slicknav_menu {
    display: none;
}

@media (max-width: 991px) {

	.menu__list {
		display: none;
	}

	.slicknav_menu {
        display: block;
        z-index: 300;
        background-color: #263238;

      
	}
    

}